*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: relative;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    height: 13vh;
    margin-top: 20px
}
h1{
    font-size: 36px;
    text-transform: capitalize;
    
    letter-spacing: 2px;
    word-spacing: 1.5px;
}
.input{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px
}
.inputsec{
    display: flex;
    
    flex-direction: column;
}
.first{
    padding: 10px 9px;
    width: 537px;
    border: dashed;
}
.second{
    
    padding: 8px 8px;
    font-size: 15px;
    
    cursor: pointer;
    margin: auto;
    margin-top: 11px;
}

table{
    border-collapse: collapse;
    text-align: center;
    width: 75%;
    position: relative;
   
    
    
}
table,th,td{
    border: 1px solid black;
    top: 9px;
}
th,td{
    font-size: 22px;
    font-weight: bold;
    
}
.delbtn
{
    position: absolute;
    float: right;
    padding: 8px;
    margin: 8px;
    /* bottom: 225px; */
    right: -8px;
    width: 12%;
    font-weight: bold;
    font-size: 14px;
    /* top: 268px; */
    cursor: pointer;
    
    
}

@media (max-width: 767px){
    header{
		
	width: 70%;
    font-size: 22px;
    height: 10vh;
   
		


	}
    h1{
        font-size: 24px;
        
    }
    .first{
        width: 429px;
        
    }
    .second{
    width: 31%;
    font-size: 16px;
    
    cursor: pointer;
    padding: 4px;
    }
    
    #show{
        position: relative;
        width: 85%;
    }
}
@media (max-width: 500px){
    header{
		
	width: 50%;
    font-size: 20px;
    height: 9vh;
   
		


	}
    h1{
        font-size: 20px;
    
    }
    .first{
        width: 300px;
        
    }
    .second{
    width: 30%;
    font-size: 14px;
    
    cursor: pointer;
    padding: 7px;
    }
    .delbtn{
    width: 19%;
    right: -32px;
    }
}
